Required/Source Code/HealthPortal/Service References/AdminWS/HealthPortalWebServices.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HealthPortalWebServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HealthPortalWebServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfHospital">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Hospital" nillable="true" type="tns:Hospital" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHospital" nillable="true" type="tns:ArrayOfHospital" />
  <xs:complexType name="Hospital">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Hospital" nillable="true" type="tns:Hospital" />
  <xs:complexType name="ArrayOfDepartment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Department" nillable="true" type="tns:Department" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDepartment" nillable="true" type="tns:ArrayOfDepartment" />
  <xs:complexType name="Department">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:unsignedLong" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Department" nillable="true" type="tns:Department" />
</xs:schema>