Required/Source Code/HealthPortal/Service References/AdminWS/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/HealthPortalWebServices" />
  <xs:element name="addDepartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hospitalID" type="xs:unsignedInt" />
        <xs:element minOccurs="0" name="departmentName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="adminUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="adminPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addDepartmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addDepartmentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="assignDoctorToDepartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="departmentID" type="xs:unsignedLong" />
        <xs:element minOccurs="0" name="doctorID" type="xs:unsignedLong" />
        <xs:element minOccurs="0" name="adminUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="adminPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="assignDoctorToDepartmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="assignDoctorToDepartmentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListOfHospitals">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getListOfHospitalsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HealthPortalWebServices" minOccurs="0" name="getListOfHospitalsResult" nillable="true" type="q1:ArrayOfHospital" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListOfDepartments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hospitalID" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListOfDepartmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HealthPortalWebServices" minOccurs="0" name="getListOfDepartmentsResult" nillable="true" type="q2:ArrayOfDepartment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>